name: 'Automatic version updates'

permissions:
  contents: write
  pull-requests: write
  actions: read
  statuses: write
  checks: write
  issues: write

on:
  schedule:
    - cron: '00 15 * * *'
  workflow_dispatch:

jobs:
  bump:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@main
      - uses: zopencommunity/meta/actions@main
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
